---
interface Props{
  scrollE: string;
  scrollC: string;
}
const {scrollE, scrollC} = Astro.props
---
<div class="header">
    <div class="hamburger1 hamburger">
      <span class="spans" style=`animation-range: entry ${scrollE} cover ${scrollC};`></span>
      <span class="spans" style=`animation-range: entry ${scrollE} cover ${scrollC};`></span>
      <span class="spans" style=`animation-range: entry ${scrollE} cover ${scrollC};`></span>
    </div>
    <div class="menu-overlay">
      <ul class="nav">
        <li><a href="/home">Home</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/trabajos">Trabajos</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    document.querySelector(".hamburger").addEventListener("click", function() {
        this.classList.toggle("open");
        document.querySelector(".menu-overlay").classList.toggle("open");
    });
});
</script>


<style>

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  z-index: 100;
}
.spans {
  background: var(--white);
  display: block;
  position: absolute;
  height: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  width: 100%;
  left: 0;
  
}

.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 12px;
}
.hamburger span:nth-child(3) {
  top: 24px;
}
.hamburger.open span:nth-child(1) {
  top: 12px;
  background-color: var(--black);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
  background-color: var(--black);
  left: -60px;
}
.hamburger.open span:nth-child(3) {
  background-color: var(--black);

  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  opacity: 0;
  visibility: visible;
  z-index: 99;
  text-align: center;
  display: table;
  -webkit-transition: visibility 0.5s ease, opacity 1s ease;
  -moz-transition: visibility 0.5s ease, opacity 1s ease;
  -o-transition: visibility 0.5s ease, opacity 1s ease;
  transition: visibility 0.5s ease, opacity 1s ease;
  display: none;
  transition: ease .5s;
  

}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  display: block;
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.nav li {
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  
}
.open .nav li {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.open .nav li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.open .nav li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.open .nav li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.open .nav li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.open .nav li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.open .nav li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.open .nav li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}
.open .nav li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 32px;
  font-family: 'IBM Plex sans', sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav a:hover{
  opacity: 0.6;
}
  </style>
